/* ==========================================================================
    #CONFIG
==========================================================================  */

$is-dev: '.is-dev' !default;

/* ==========================================================================
    #FOLDER
==========================================================================  */

$folder-fonts: '../fonts/' !default;
$folder-images: '../images/' !default;
$folder-svg: '../svg/' !default;
$icomoon-font-path: $folder-fonts !default;
$folder-node-modules: '../../node_modules/' !default;

/* ==========================================================================
    #TYPOGRAPHY
==========================================================================  */

/* font-family */
$robot: 'Roboto Slab', serif !default;
$heebo: 'Heebo', sans-serif !default;

/* base */
$base-font-size: 10px !default;
$base-heading-line-height: 1.4 !default;
$base-text-line-height: 1.8 !default;

$rhythm-vertical: 10px; /* beta */

/* type */
$font-heading: $robot !default;
$font-text: $heebo !default;

/* heading */
$map-font-sizes-heading: (
'h1': 90px,
'h2': 78px,
'h3': 40px,
'h4': 32px,
'h5': 28px,
'h6': 26px
) !default;

$map-font-sizes-heading-mobile: (
'h1': 90px,
'h2': 78px,
'h3': 40px,
'h4': 32px,
'h5': 28px,
'h6': 26px
) !default;

/* text */
$map-font-sizes-text: (
't1': 28px,
't2': 26px,
't3': 24px,
't4': 22px,
't5': 20px,
't6': 16px
) !default;

$map-font-sizes-text-mobile: (
't1': 28px,
't2': 26px,
't3': 24px,
't4': 22px,
't5': 20px,
't6': 16px
) !default;
    
/* ==========================================================================
    #COLORS
==========================================================================  */

// Colors
//
// The primary colors for branding.
//
// $black - #000;
// $white - #fff;
// $cod-gray - #111;
// $lightning-yellow - #f8c119;
// $tundora - #474747;
// $pampas - #f8f7f5;
//
// Styleguide abstracts.colors

$black: black !default;
$white: white;
$cod-gray: #111;
$lightning-yellow: #f8c119;
$tundora: #474747;
$pampas: #f8f7f5;

/* Typo */
/*///////////////////////////*/
$color-text: $black !default;
$color-heading: $black !default;

/* State */
/*///////////////////////////*/
$color-valid: green !default;
$color-error: red !default;
$color-warning: yellow !default;

/* Text selection */
/*///////////////////////////*/
$text-selection-color: $black !default;
$text-selection-bg: #b3d4fc !default;

/* ==========================================================================
    #SELECTOR OBJECTS
==========================================================================  */

$o-container: '.container' !default;

/* ==========================================================================
    #FORM
==========================================================================  */

$form-border-color: $cod-gray !default;
$form-border-font-size: 16px !default;
$form-border-radius: 0 !default;
$form-border-width: 2px !default;

$form-checkbox-size: 22px;
$form-checkbox-space: 10px;

$form-color-invalid: #e00000;
$form-color-valid: #218003;
$form-color-placeholder: #888 !default;
$form-input-color-bg: $white !default;

$form-input-height: 40px !default;
$form-input-padding-x: 12px !default;
$form-input-padding-y: 8px !default;

$toggle-color-bg: #ccc;

/* ==========================================================================
    #MEDIA-QUERIES
==========================================================================  */

/* breakpoints (include-media) */
/*///////////////////////////*/
$breakpoints: (
'xsmall': 320px,
'small':  520px,
'medium': 800px,
'large':  1024px,
'xlarge': 1200px,
'huge': 1400px
) !default;

$desktop-first-breakpoints: $breakpoints !default;

/* ==========================================================================
    #CONTAINER
==========================================================================  */

$map-containers: (
'mini':   320px,
'xsmall': 600px,
'small':  700px,
'medium': 900px,
'large':  960px,
'xlarge': 1100px,
'site':   1250px,
'full':   100%
) !default;

$site-container-max-width: 1250px !default;

/* ==========================================================================
    #PADDING
==========================================================================  */
$padding-mobile: 30px !default;
$padding-tablet: 40px !default;
$padding-desktop: 60px !default;

/* ==========================================================================
    #GRID (lost)
==========================================================================  */

$grid-gutter: 30px !default;
$lost-rounder: 99.9 !default;
$lost-rounder-with-unit: #{$lost-rounder+'%'} !default;
$grid-max-columns: 12 !default;

$row-margin-bottom: 15px !default;

@lost gutter 30px; // most by a value ( not a variable )
@lost flexbox flex;
@lost cycle none;
@lost clearing left;
@lost rounder #{$lost-rounder};

/* ==========================================================================
    #Z-INDEX
==========================================================================  */

$z-sticky-nav: 100 !default;
$z-mobile-nav: 100 !default;
$z-modal: 1000 !default;
$z-site-option: 1001 !default;
$z-bp-debug: 1000 !default;

/* ==========================================================================
    #TRANISTION
==========================================================================  */

$transition-speed-slow: 0.6s !default;
$transition-speed-medium: 0.3s !default;
$transition-speed-fast: 0.1s !default;

$easing: cubic-bezier(0.4, 0, 0.2, 1);

/* ==========================================================================
    #VARIABLES MODAL
========================================================================== */

$modal-selector: '.c-modal';
$modal-zindex: 1000 !default;
$modal-max-width: 1100px !default;
$modal-max-height: calc(100vh - 20px) !default;
$modal-overlay-bg-color: #000 !default;
$modal-overlay-opacity: 0.8 !default;
$modal-content-bg-color: transparent !default;
$modal-content-padding: 30px 0 0 0 !default;
$modal-transition: opacity 0.375s cubic-bezier(0.4, 0, 0.2, 1);
