/*
Button

Your standard button suitable for clicking.

Markup:
<a href="#" class="btn {{modifier_class}}">Link Button</a>
<button class="btn {{modifier_class}}">Button Element</button>
<input type="btn" class="button {{modifier_class}}" value="input[type='button']"/>

:hover    - Highlights when hovering.
:disabled - Dims the button when disabled.
.primary  - Indicates button is the primary action.
.smaller  - A little bit smaller now.

Styleguide 6.1
*/

.btn {
    background: red;
}

/* ==========================================================================
    #btn-reset
========================================================================== */

@mixin btn-reset() {
    appearance: none;
    user-select: none;
}

/* ==========================================================================
    #btn-primary
========================================================================== */

@mixin btn-primary() {
    display: inline-block;
    overflow: hidden;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
    background-color: $color-purple;
    border-radius: 0;

    &:hover {
        color: $white;
        background-color: $color-dark01;
    }

    &.is-disabled,
    &:disabled {
        color: #ccc;
    }

    &.is-active {
        color: red;
    }

}


.button {}

.button.primary {}

.button.smaller {}

.button:hover {}

.button:disabled {}