
/* ==========================================================================
    #MODAL
========================================================================== */

#{$modal-selector} {
    padding: 0 $padding-mobile;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $modal-zindex;

    &.is-active {
        display: flex;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $modal-zindex;
        background-color: rgba($modal-overlay-bg-color, $modal-overlay-opacity);
        cursor: pointer;
    }

    &__content {
        padding: $modal-content-padding;
        //@include ios-scroll-smooth();
        width: 100%;
        max-width: $modal-max-width;
        max-height: $modal-max-height;
        overflow-y: auto;
        position: relative;
        z-index: $modal-zindex + 1;
        background-color: $modal-content-bg-color;
    }

    &__body {
        position: relative;
    }

    &__btn-close {
        position: absolute;
        top: 0;
        right: 10px;
        color: $lightning-yellow;
        font-weight: 300;
        font-size: 20px;
    }

}



/* ==========================================================================
    #VUE TRANSITION
========================================================================== */

.modal-enter {
    opacity: 0;
}

.modal-enter-active {
    transition: $modal-transition;
}

.modal-leave {}

.modal-leave-active {
    opacity: 0;
    transition: $modal-transition;
}
