/*
Control

Markup: 
<div class="form-control {{modifier_class}}">
<label class="form-label" for="control-demo-text{{modifier_class}}">Input type label <em>*</em></label>
<input type="text" id="control-demo-text{{modifier_class}}" name="control-demo-text{{modifier_class}}" class="form-input" placeholder="Placeholder..."> 
</div>
<br />

.form-control--floating-label - Floating label

Styleguide: layout.form.control
*/

.form-control {
    position: relative;

    &--floating-label {
        padding-top: vr(1);

        &.has-value {

            .form-label {
                opacity: 1;
            }
           
        }

        .form-label {
            position: absolute;
            top: 0;
            left: 13px;
            opacity: 0;
        }

        .form-input {}

    }

}
