/*
Label

Markup: 
<label class="form-label" for="demo-label">Input type label <em>*</em></label>

Weight: 1

Styleguide: layout.form.label
*/

%label-base {
    @include t4();
    display: block;
    color: #c1c1c1;
    font-weight: 700;
    font-family: $heebo;
    transition: opacity $easing 150ms;
}

.form-label {
    @extend %label-base;

    em {
        color: $form-color-invalid;
    }
}
