/*
Radio

Markup: 
<div role="group" aria-labelledby="zeppelin_head">
    <div class="form-label" id="beatle_head">Who is the best member of Led Zeppelin?</div>
    <div class="form-radio">
        <input id="zeppelin_jimmy" type="radio" name="zeppelin" value="zeppelin_jimmy" />
        <label for="zeppelin_jimmy">Jimmy Page</label>
        <input id="zeppelin_john_paul" type="radio" name="zeppelin" value="zeppelin_john_paul" />
        <label for="zeppelin_john_paul">John Paul Jones</label>
        <input id="zeppelin_robert" type="radio" name="zeppelin" value="zeppelin_robert" />
        <label for="zeppelin_robert">Robert Plant</label>
        <input id="zeppelin_john" type="radio" name="zeppelin" value="zeppelin_john" />
        <label for="zeppelin_john">John Bonham</label>
    </div>
</div>

Weight: 5

Styleguide: layout.form.radio
*/

.form-radio {
    position: relative;

    input[type='radio'],
    input[type='checkbox'] {
        @extend %u-sr-only;
    }

    input[type='radio'],
    input[type='checkbox'] {

        + label {

            &:after {
                content: none;
            }

        }
    }

    input[type='radio']:checked,
    input[type='checkbox']:checked {

        + label {

            &:before {
                background: $black;
            }

            &:after {
                content: '';
            }

        }
    }
   
    label {
        padding-left: $form-checkbox-size + $form-checkbox-space;
        display: inline-block;
        position: relative;
        line-height: $form-checkbox-size;

        &:not(:last-child) {
            margin-right: $form-checkbox-space;
        }

        &:before,
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
        }

        &:before {
            width: $form-checkbox-size;
            height: $form-checkbox-size;
            top: 1px;
            left: 0;
            background: #f4f4f4;
            border: 1px solid #bbb;
        }

        &:after {
            width: 8px;
            height: 8px;
            top: 8px;
            left: 7px;
            background-color: $white;
            border-radius: 50%;
        }

    }

}

.form-radio {

    label {

        &:before {
            border-radius: 50%;
        }

    }

}
