/*
Select

Markup: 
<div class="form-group-input">
    <label for="select" class="form-label">Label for section 2</label>
    <div class="form-select">
        <select id="select" name="select">
            <option label="Second select" disabled selected>Second select</option>
            <option label="Option 2.1">Option 2.1</option>
            <option label="Option 2.2">Option 2.2</option>
        </select>
    </div>
</div>

Weight: 6

Styleguide: layout.form.select
*/

.form-select {
    position: relative;

    &.is-invalid {

        &:after {
            border-color: $form-color-invalid transparent transparent;
        }

        select {
            color: $form-color-invalid;
            border-color: $form-color-invalid;
        }

    }

    &.is-valid {

        &:after {
            border-color: $form-color-valid transparent transparent;
        }

        select {
            color: $form-color-valid;
            border-color: $form-color-valid;
        }

    }

    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 20px;
        right: 15px;
        border-width: 10px 8px 0;
        border-style: solid;
        border-color: $cod-gray transparent transparent;
        pointer-events: none;
    }

    select {
        @extend %input-base;
        cursor: pointer;
    }

}
