/*
Toggle

Markup: 
<button type="button" data-action="aria-switch" aria-labelledby="toggle_label" aria-checked="false" role="switch">
    <span></span>
</button>
<br /><br />
<button type="button" data-action="aria-switch" aria-label="Toggle Text" aria-checked="true" role="switch" class="text">
    <span></span>
</button>

Weight: 11

Styleguide: layout.form.toggle
*/

[data-action='aria-switch'] {
    display: inline-block;
    width: 75px;
    min-height: 34px;
    float: left;
    clear: both;
    overflow: hidden;
    position: relative;
    background: $toggle-color-bg;
    border: 0;
    border-radius: 32px;
    transition: background 0.1s ease-in-out;
  
    &:focus {
        background: $toggle-color-bg;
    }
  
    &:hover {
        background-color: $toggle-color-bg;
    }
  
    &:not([disabled]):hover,
    &:not([disabled]):focus {
        border: 0;
    }
  
    span {
        display: inline-block;
        position: absolute;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 32px;
        pointer-events: none;
    }
  
    &[aria-checked='false'] {
  
        span {
            width: 30px;
            height: 30px;
            top: 2px;
            left: 2px;
            background: $white;
            border: 1px solid $form-border-width;
            border-radius: 50%;
            transition: 0.4s;
        }
    }
  
    &[aria-checked='true'] span {
        width: 30px;
        height: 30px;
        top: 2px;
        left: 43px;
        background: $white;
        border: 1px solid $form-border-width;
        border-radius: 50%;
        transition: 0.4s;
    }
  
    &[aria-checked='true'] {
        background: $color-valid;
    }

    &.text[aria-checked='true'] span:before,
    &.text[aria-checked='false'] span:after {
        display: block;
        position: absolute;
        top: 4px;
        color: $form-border-color;
    }
  
    &.text[aria-checked='true'] span:before {
        content: 'ON';
        left: -32px;
    }

    &.text[aria-checked='false'] span:after {
        content: 'OFF';
        right: -32px;
    }
  
}
  
.no-js [data-action='aria-switch']:not([aria-checked]) span {
    width: 30px;
    height: 30px;
    top: 2px;
    left: 43px;
    background: $white;
    border: 1px solid $form-border-width;
    border-radius: 50%;
    transition: 0.4s;
}
