{% extends "base.twig" %}

{% block content %}

<div class="flex-1 flex justify-center items-center pt-50 pb-20">

	<div class="text-center uppercase">
		<p class="text-20 md:text-40">{{ "pageTitle_404"|t }}</p>
		<p class="mt-4 text-10 leading-normal">{{ "pageText_404"|t }}</p>
	</div>

</div>

{% endblock %}
