{% extends "base-contact.twig" %} 

{% block content %}

<div class="o-container-404">

    <div class="c-group-titles c-group-titles--dark">
        <p class="section-title">{{ "Sorry, but the page you were trying to view does not exist." | t }}</p>
    </div>

</div>

{% endblock %}