/* ==========================================================================
    #DEBUG BREAKPOINT
========================================================================== */


body {

    &:before {
        padding: 10px;
        display: block;
        position: fixed;
        z-index: $z-bp-debug;
        right: 0;
        bottom: 0;
        text-transform: capitalize;
        background: #ccc;

        @each $name, $value in $breakpoints {

            @if ( $name == 'xsmall') {

                @include media('>=0px') {
                    content: '#{$name}';
                }

            }
            @else {

                @include media('>=#{$name}') {
                    content: '#{$name}';
                }

            }

        }

    }

}
