@mixin focuspoint() {
    overflow: hidden;
    position: relative;/*Any position but static should work*/

    img {
        margin: 0;
        display: block; /* fill and maintain aspect ratio */
        width: auto;
        min-width: 100%;
        max-width: none;
        height: auto;
        min-height: 100%;
        max-height: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}
