/* ==========================================================================
    #LOST-CONTAINER-CENTER
========================================================================== */

@mixin lost-container( $column, $gutter : $grid-gutter) {
    max-width: calc(#{$lost-rounder-with-unit} * #{$column}/#{$grid-max-columns} - (#{$gutter} - #{$gutter} * #{$column}/#{$grid-max-columns}));
}

/* ==========================================================================
    #MAKE-LOST-CONTAINER-MQ
========================================================================== */

@mixin make-lost-container-mq($breakpoint, $maxColumns) {

    @for $i from 1 through $maxColumns {

        .container-#{$breakpoint}-#{$i} {

            @include media('>=#{$breakpoint}') {
                @include center-block();
                @include lost-container($i);
            }

        }

        .container-no-center-#{$breakpoint}-#{$i} {

            @include media('>=#{$breakpoint}') {
                @include lost-container($i);
            }

        }

    }

}

/* ==========================================================================
    #MAKE-LOST-ROW-MQ
========================================================================== */

@mixin make-lost-row-mq($breakpoint) {

    @each $name, $value in $breakpoint {

        .row--mb-#{$name} {

            > [class^='col'] {
    
                @include media('<#{$name}') {
                    margin-bottom: $row-margin-bottom;
                }
    
            }
    
        }

        .row-#{$name} {

            @include media('>=#{$name}') {
                lost-flex-container: row;
            }
    
        }
        
    }

}

/* ==========================================================================
    #MAKE-LOST-COLUMNS-MQ
========================================================================== */

@mixin make-lost-columns-mq($breakpoint, $maxColumns : $grid-max-columns, $gutter : $grid-gutter) {

    @for $i from 1 through $maxColumns {

        .col-#{$breakpoint}-#{$i} {

            @if $breakpoint != 'small' {

                @include media('>=#{$breakpoint}') {
                    lost-column: #{$i}/#{$maxColumns} 0 #{$gutter};
                }

            }
            @else {
                lost-column: #{$i}/#{$maxColumns} 0 #{$gutter};
            }

        }

    }

}
