/* ==========================================================================
    #PADDING
========================================================================== */
@mixin padding-desktop() {
    padding-right: $padding-desktop;
    padding-left: $padding-desktop;
}

@mixin padding-tablet() {
    padding-right: $padding-tablet;
    padding-left: $padding-tablet;
}

@mixin padding-mobile($direciton: 'v') {
    padding-right: $padding-mobile;
    padding-left: $padding-mobile;

    @if( $direciton == 'both') {
        padding-top: $padding-mobile;
        padding-bottom: $padding-mobile;
    }

}

@mixin padding-container() {

    @include media('>=phone') {
        padding-right: $padding-tablet;
        padding-left: $padding-tablet;
    }

    @include media('<phone') {
        padding-right: $padding-mobile;
        padding-left: $padding-mobile;
    }

}
