/*
Abstracts

Configuration and helpers.

Weight: 1

Styleguide 1
*/

/*
Icons

Icons for this website.

Weight: 2

Styleguide: 2
*/

/*
Typograhy

Base style for heading, text etc...

Weight: 3

Styleguide: 3
*/

/*
Grid

The grid is based on "lost". <br />

Doc: <a href="http://lostgrid.org/docs.html">http://lostgrid.org/docs.html</a> <br />
Example: <a href="http://lostgrid.org/lostgrid-example.html">http://lostgrid.org/lostgrid-example.html</a> <br />

Weight: 4

Markup: ../../kss-styleguide/styleguide/markup/grid.html

Styleguide: 4
*/

/*
Container

Container for the website.

Weight: 5

Styleguide: 5
*/

/*
Components

Explicitly named designed pieces of UI. The cosmetic layer, includes more specific styling instructions.

Weight: 6

Styleguide: 6
*/

/*
Layout

Layout-related sections.

Weight: 7

Styleguide: 7
*/

/*
Pages

Page-specific styles.

Weight: 8

Styleguide: 8
*/


