/* ==========================================================================
    #ALL
========================================================================== */

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* ==========================================================================
    #HTML
========================================================================== */

html {
    box-sizing: border-box;
    font-size: 100%;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

/* ==========================================================================
    #BODY
========================================================================== */

body {
    overflow-x: hidden;
    overflow-y: scroll;
    color: $cod-gray;
    font-size: $base-font-size;
    font-family: $font-text;
    line-height: $base-text-line-height;
    word-wrap: break-word;
    word-break: normal;
    background-color: $pampas;
}

/* ==========================================================================
    #LINK
========================================================================== */

a {
    color: $cod-gray;
    text-decoration: none;
}
