/* ==========================================================================
#GRID

========================================================================== */

/*
Row

Options <br />
.row--mb-xsmall - Add margin-bottom below xsmall <br />
.row--mb-small - Add margin-bottom below small <br />
.row--mb-medium - Add margin-bottom below medium <br />
.row--mb-large - Add margin-bottom below large <br />
.row--mb-xlarge - Add margin-bottom below xlarge

Markup:
<div class="row {{modifier_class}}">
    <div class="col-small-12 col-medium-12">12</div>
</div>

Styleguide: 4.1
*/
@include make-lost-row-mq($breakpoints);

/*
Column

Options  <br />
Breakpoint => xsmall, small, medium, large and xlarge <br />
Size => 1 to 12

Markup:
<div class="row row--mb-medium">
    <div class="col-small-12 col-medium-2">2</div>
    <div class="col-small-12 col-medium-4">4</div>
    <div class="col-small-12 col-medium-6">6</div>
</div>

Styleguide: 4.2
*/
@each $name, $value in $breakpoints {
    @include make-lost-columns-mq($name, $grid-max-columns);
}

// Class helpers

.row {
    lost-flex-container: row;
}
