/*
Icons

Icons for this website.

Markup: ../../kss-styleguide/styleguide/markup/icons.html

Styleguide: base.icons
*/

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}
