<div class="form-input-status is-invalid">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>

<div class="form-group-input">
    <label class="form-label" for="demo-form-input-status">Input with a note</label>
    <textarea class="form-input is-invalid" id="demo-textarea-note" name="demo-textarea-note"></textarea>
    <div class="form-input-status is-invalid">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
</div>

<div class="form-group-input">
    <label for="demo-select-note" class="form-label">Select with a note</label>
    <div class="form-select is-valid">
        <select id="demo-select-note" name="demo-select-note">
            <option label="Second select" disabled selected>Second select</option>
            <option label="Option 2.1">Option 2.1</option>
            <option label="Option 2.2">Option 2.2</option>
        </select>
    </div>
    <div class="form-input-status is-valid">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
</div>
