<form id="form-validation">

    <div class="form-group-input">
        <label class="form-label" for="foo">Input with a note</label>
        <input type="text" class="form-input" id="foo" name="foo" required />
        <div class="form-input-note">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
    </div>

    <div class="form-group-input">
        <label class="form-label" for="hyperform-text">Input with a note</label>
        <input type="text" class="form-input" id="hyperform-text" name="hyperform-text" required />
        <div class="form-input-note">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
    </div>

    <div class="form-group-input">
        <label class="form-label" for="hyperform-textarea">Input with a note</label>
        <textarea class="form-input" id="hyperform-textarea" name="hyperform-textarea" required></textarea>
        <div class="form-input-note">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
    </div>

    <p>
        <button>go</button>
    </p>
    
</form>
