{% set slider = [
    'https://placeimg.com/1000/730/tech',
    'https://placeimg.com/1000/730/arch',
    'https://placeimg.com/1000/730/nature',
    'https://placeimg.com/1000/730/any/grayscale'
] %}

<div class="c-swiper-images">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for item in slider %}
            <div class="swiper-slide">
                <img src="{{ item }}" alt="" />
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="c-swiper-images__pagination swiper-pagination"></div>
    <div class="c-swiper-images__options">
        <a href="" class="swiper-btn-prev"></a>
        <a href="" class="swiper-btn-next"></a>
    </div>
</div>
