/*
Circle

Your standard button suitable for clicking.

Markup:
<div class="circle"><span>1</span></div>

Styleguide elements.circle
*/

.circle {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border: 2px solid $lightning-yellow;
    border-radius: 50%;
    transition: all $easing 300ms;

    @at-root {

        a.circle {

            &:hover {
                background-color: rgba($lightning-yellow, 1);   
            }

            &--alt {

                .icon {
                    color: $cod-gray;
                }
               
            }

        }

    }
 
    .icon {
        color: $white;
        font-size: 16px;
    }

}
