/*
List

Styleguide elements.list
*/

/*
Unordered

Defines an unordered list

Markup:
<ul class="list-unordered">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

Styleguide elements.list.unordered
*/

%list-unordered {

    li {
        padding-left: 18px;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            position: absolute;
            top: 9px;
            left: 0;
            background-color: $black;
        }

    }

}

.list-unordered {
    @extend %list-unordered;
}

/*
Ordered

Defines an ordered list

Markup:
<ol class="list-ordered">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

Styleguide elements.list.ordered
*/

%list-ordered {
    list-style-position: inside;
    list-style-type: decimal;
}

.list-ordered {
    @extend %list-ordered;
}
