<!doctype html>
<html {{ function( 'language_attributes' ) }}>
{% include 'layouts/head.twig' %}

<body {{ function( 'body_class', ['test', 'test-2'] ) }}>

	{% block header %}
	{% include 'layouts/header.twig' %}
	{% endblock %}

	<main>
		{% block content %}{% endblock %}
	</main>

	{% block beforeFooter %}{% endblock %}

	{% block footer %}
	{% include 'layouts/footer.twig' %}
	{% endblock %}

	{% include './templates/components/modal-age.twig' with {} %}

	{% block script %}{% endblock %}
	{{ function('wp_footer') }}
	
	<script src="https://kit.fontawesome.com/c0ed8a06d5.js" crossorigin="anonymous"></script>
</body>

</html>
