/*
Grid

LostGrid is a powerful grid system built in PostCSS that works with any preprocessor and even vanilla CSS. <br />

Doc: <a href="http://lostgrid.org/docs.html">http://lostgrid.org/docs.html</a> <br />
Example: <a href="http://lostgrid.org/lostgrid-example.html">http://lostgrid.org/lostgrid-example.html</a> <br />

Markup: ../../kss-styleguide/styleguide/markup/grid.html

Weight: 1

Styleguide: layout.grid
*/

/*
Row

Options <br />
.row-xsmall - Become one column by row when reach xsmall <br />
.row-small - Become one column by row when reach small <br />
.row-medium - Become one column by row when reach medium <br />
.row-large - Become one column by row when reach large <br />
.row-xlarge - Become one column by row when reach xlarge

.row--mb-xsmall - Add margin-bottom below xsmall <br />
.row--mb-small - Add margin-bottom below small <br />
.row--mb-medium - Add margin-bottom below medium <br />
.row--mb-large - Add margin-bottom below large <br />
.row--mb-xlarge - Add margin-bottom below xlarge

Markup:
<div class="row {{modifier_class}} kss-site-demo">
    <div class="col-small-12 col-medium-12">12</div>
</div>

Weight: 2

Styleguide: layout.grid.row
*/
@include make-lost-row-mq($breakpoints);

.row {
    lost-flex-container: row;
}

/*
Column

Options  <br />
Breakpoint => xsmall, small, medium, large and xlarge <br />
Size => 1 to 12

Markup:
<div class="row row--mb-medium kss-site-demo">
    <div class="col-small-12 col-medium-2">2</div>
    <div class="col-small-12 col-medium-4">4</div>
    <div class="col-small-12 col-medium-6">6</div>
</div>

Weight: 3

Styleguide: layout.grid.columns
*/
@each $name, $value in $breakpoints {
    @include make-lost-columns-mq($name, $grid-max-columns);
}
