/* ==========================================================================
    #MAIN
========================================================================== */

$l-main: '.l-main';

#{$l-header} {
    margin: 0 auto;
    max-width: $site-container-max-width;

    @include media('<#{$site-container-max-width}') {
        @include padding-mobile();
    }
}

/* ==========================================================================
    #MODIFIER
========================================================================== */
