/* ==========================================================================
    #NAV-CANVAS
========================================================================== */

$nav-canvas-selector: '.l-nav-canvas';
$nav-canvas-max-z-index: 10 !default;
$nav-canvas-max-width: 100vw !default;
$nav-canvas-content-bg-color: $white !default;
$nav-canvas-overlay-bg-color: rgba(#000, 0.5) !default;

#{$nav-canvas-selector} {
    max-height: 100vh;
    overflow-y: auto;
    z-index: $nav-canvas-max-z-index;
    
    &__menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $nav-canvas-max-z-index + 2;
        background: $nav-canvas-content-bg-color;
    }

    &__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $nav-canvas-max-z-index + 1;
        background-color: $nav-canvas-overlay-bg-color;
        cursor: pointer;
    }

    &__container {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    &__hamburger {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__list-social {
        display: flex;
        position: absolute;
        right: 20px;
        bottom: 20px;

        > li {

            &:not(:last-child) {
                margin-right: 20px;
            }

        }

    }

    .nav-primary {
        padding: 0 $padding-mobile;

        li {

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            &.lang {
                text-transform: uppercase;
            }

        }

        a {
            @include transition-scale-underline();
            display: block;
            color: $lightning-yellow;
            font-weight: 700;
            font-family: $heebo;
            text-align: center;

            @include media('>=medium') {
                font-size: 50px;
            }
            
            @include media('<medium') {
                font-size: 28px;
            } 

        }

    }

}

/* ==========================================================================
    #TRANSITION VUE
========================================================================== */

.l-nav-canvas--transition-menu {

    &-enter-active {
        transition: opacity 0.3s ease;
    }

    &-enter {
        opacity: 0;
    }

    &-enter-to {
        opacity: 1;
    }

    &-leave {
        opacity: 1;
    }

    &-leave-active {
        transition: opacity 0.3s ease;
    }

    &-leave-to {
        opacity: 0;
    }

}

.l-nav-canvas--transition-overlay {

    &-enter-active {
        transition: opacity 0.3s;
    }

    &-enter {
        opacity: 0;
    }

    &-enter-to {
        opacity: 1;
    }

    &-leave {
        opacity: 1;
    }

    &-leave-active {
        transition: opacity 0.3s;
    }

    &-leave-to {
        opacity: 0;
    }

}
